@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root{
    --color-1: #252B4F;
    --color-2: #9280B4;
    --color-3: #E5BFEB;
    --color-4: #FEE3F5;
    --color-5: #947EB6;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #fff, #fff
    , #e09bff);
    /* background: linear-gradient(to top, #252B4F, #303866, #353E72, #3B447D, #404B89, #465194, #4B57A0, #505DAC, #505DAC); */
}

.header{
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    gap: 38em;
    top: 0;
    left: 0;
    right: 0;
}

.logo{
    width: 100%;
}

.header-menu{
    display: flex;
    align-items: center;
    gap: 2em;
}

.header-link{
    text-decoration: none;
    color: #343d6e;
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.5s;
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #343d6e;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(-50%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.container-main{
    margin-top: 4em;
    margin-bottom: 7em;
}

.border{
    display: flex;
    justify-content: start;
    width: 50%;
    border-bottom: 0.2em solid #E5BFEB;
}

.container-about{
    display: flex;      
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
    gap: 5em;
}

.text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.text-about h2{
    font-family: 'Futura', sans-serif;
    margin-top: 5%;
    font-size: 3.5rem;
    font-weight: 700;
    color: #343d6e;
}

.text-about p{
    font-size: 1.1rem;
    font-weight: 400;
    color: #343d6e;
}

.strong-about{
    color: #fff;
}

.foto-portfolio{
    border: 0.5em solid #fff;
    border-radius: 20em;
    margin-right: 2em;
    width: 80em;
}

.foto{
    width: 100%;
    height: 100%;
    border-radius: 20em;
}

.container-mid{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.border-mid{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 40em;
    border-bottom: 0.2em solid #E5BFEB;
}

.container-services{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15em;
}

.logo-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: hidden;
    gap: 1em;
    width: 13em;
    height: 13em;
    padding: 1em 1em 1em 1em;
    border-radius: 30em;
    border: 0.2em solid #E5BFEB;
    transition: 0.5s;
}

.logo-services:hover{
    background-color: #E5BFEB;
    color: #fff;
}

.image-services{
    width: 5em;
    transition: 0.5s;
    filter: brightness(0%);
}

.logo-services:hover .image-services{
    filter: brightness(100%);
}

.logo-services span{
    transition: 0.5s;
    font-size: 1.5rem;
    color: #343d6e;
}

.logo-services:hover span{
    color: #fff;
}
 
.container-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #252B4F;
    margin-top: 4em;
    gap: 2em;
}

.container-projects{
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(3, auto);
    width: 70em;
    gap: 2em;
}

.project{
    display: inline-block;
    position: relative;
    overflow-y: hidden;
    border-radius: 0.1em;
    border: 0.5em solid #fff;
    height: 20em;
    width: 22em;
    transition: 0.5s;
}

.border-project{
    width: 50%;
    border-top: 1px solid #E5BFEB;
}

.text-title-project{
    display: flex;
    color: #fff;
    font-size: 3rem;
}

.text-project{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
}

.text-project h3{
    font-family: 'Futura', sans-serif;
    font-weight: 400;
}

.image-project{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.image-project:hover{
    filter: brightness(70%);
    scale: 1.1;
}

.project:hover .text-project{
    opacity: 1;
}

.text-project h1{
    font-family: 'Futura', sans-serif;
    font-size: 4rem;
    color: #fff;
}

.baseboard{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
    padding: 2em;
    background-color: #E5BFEB;
}

.baseboard-link{
    text-decoration: none;
    font-size: 600;
    color: black;
}

@media(max-width: 1200px){
    
    .header{
        gap: 0em;
        padding: 0;
    }

    .header-link{
        font-size: 1.4rem;
    }

    .logo{
        width: auto;
    }

    .container-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        gap: 10em;
    }

    .foto-portfolio{
        margin: 0;
        width: 90%;
    }

    .text-about{
        margin-left: 10%;
    }

    .text-about h2{
        font-size: 3rem;
    }

    .text-about p{
        font-size: 1.3rem;
    }

    .container-services{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 10em;
    }
}