@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root{
    --color-1: #252B4F;
    --color-2: #9280B4;
    --color-3: #E5BFEB;
    --color-4: #FEE3F5;
    --color-5: #947EB6;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #252B4F, #303866, #353E72, #3B447D, #404B89, #465194, #4B57A0, #505DAC, #505DAC);
}

.header{
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    position: fixed;
    gap: 4em;
    top: 0;
    left: 0;
    right: 0;
    padding: 0% 10% 0% 7%;
    background-color: #505DAC;
}

.logo{
    width: 100%;
}

.header-menu{
    display: flex;
    align-items: center;
    gap: 2em;
}

.header-link{
    font-size: 1.4rem;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.header-link:hover{
    color: #E5BFEB;
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #E5BFEB;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(-50%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.container-main{
    margin-top: 11em;
    margin-bottom: 7em;
}

.border{
    display: flex;
    justify-content: center;
    width: 60em;
    border-bottom: 0.2em solid #E5BFEB;
}

.container-about{
    display: flex;
    gap: 20em;
}

.text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-right: 3.6em;
    gap: 2em;
}

.text-about h1{
    margin-top: 5%;
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
}

.text-about p{
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
}

.strong-about{
    color: #E5BFEB;
}

.foto-portfolio{
    margin-top: 4em;
    margin-left: 4em;
    width: 100%;
    border-radius: 20em;
}

.container-mid{
    width: 100%;
    margin-top: 8em;
    margin-bottom: 8em;
}

.border-mid{
    display: flex;
    justify-content: center;
    width: 60em;
    margin-left: 40em;
    border-bottom: 0.2em solid #E5BFEB;
}

.container-services{
    display: flex;
    justify-content: center;
    height: 20em;
    gap: 20em;
}

.logo-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: hidden;
    cursor: pointer;
    gap: 1em;
    width: 17em;
    height: 17em;
    padding: 1em 1em 1em 1em;
    border-radius: 30em;
    border: 0.2em solid #E5BFEB;
    transition: 0.5s;
}

.logo-services:hover{
    background-color: #E5BFEB;
    color: #252B4F;
}

.btn-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 20px;
}

.image-services{
    width: 8em;
    transition: 0.5s;
}

.logo-services:hover .image-services{
    filter: brightness(0%);
}

.logo-services span{
    transition: 0.5s;
    font-size: 2rem;
    color: #fff;
}

.logo-services:hover span{
    color: #000;
}

.container-bottom{
    margin-top: 4em;
}

.border-project{
    width: 60em;
    border-top: 1px solid #E5BFEB;
}

.container-projects{
    margin-top: 40em;
}

.text-project h1{
    font-size: 7rem;
    color: #fff;
}

.baseboard{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
    padding: 2em;
    background-color: #E5BFEB;
}

.baseboard-link{
    text-decoration: none;
    font-size: 600;
    color: black;
}

@media(max-width: 1200px){
    
    .logo{
        width: auto;
    }

    .container-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10em;
    }

    .foto-portfolio{
        margin: 0;
        width: 100%;
    }

    .text-about{
        margin-right: 1em;
        margin-left: 3em;
    }

    .container-services{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 10em;
    }
}