@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Jost', sans-serif;
    background-image: url(/assets/background-obrigado.png);
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

section h1,p{
    color: #f7f7f7;
}

section h1{
    font-size: 2.5rem;
}

section p{
    font-size: 1.3rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 3%;
    width: 100%;
}

.btn a {
    position: relative;
    z-index: 2;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    width: 70%;
    padding: 1.2% 0;
    transition: 0.3s;
}

.btn a span {
    position: relative;
    z-index: 2;
}

.btn a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: all 0.3s;
    z-index: 1;
}

.btn a:hover {
    color: #000;
}

.btn a:hover:after {
    width: 100%;
}

.div-button {
    border: 1px solid #fff;
    width: 100%;
}

@media(max-width: 700px) {

    section{
        text-align: center;
        margin-top: 65%;
    }

    .btn{
        margin-top: 10%;
        width: 70%;
    }
}