@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    background-image: url(/assets/background-project.png);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b4b4b4;
}

::-webkit-scrollbar-track {
    background-color: #1E1E1E;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 2% 10% 2% 10%;
    z-index: 9;
    transition: background-color 0.5s ease;
}

.header-scroll {
    top: 0px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #00000038;
}

#svg path {
    fill: #fff;
}

#svg1 path {
    stroke: #fff;
}

.navbar-mobile {
    width: 15%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header-menu svg {
    width: 15px;
}

.header-link {
    text-decoration: none;
    color: #ffff;
    font-size: 1.3rem;
    transition: 0.5s;
}

.header-link:hover {
    color: #cf530e;
}

.header-medias {
    display: flex;
    gap: 15px;
}

.header-medias svg {
    width: 40px;
    transition: 0.5s;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 5% 20% 5%;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #7B5122;
    border-bottom: 1px solid #7B5122;
    width: 100%;
    padding: 10% 0% 10% 0%;
}

.main-title h1 {
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 10rem;
    font-weight: 500;
    color: #fff;
}

.main-title p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    margin-bottom: 1%;
}

.main-projects{
    margin: 5%;
}

.item{
    display: flex;
    gap: 10px;
}

.div-white-top{
    background-color: #fff;
    width: 20em;
    height: 1px;
}

.div-white-left{
    background-color: #fff;
    width: 1px;
    height: 18em;
}

.item img{
    width: 50%;
    height: auto;
    margin-top: 0.6%;
}

.text-project{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 3%;
}

.text-project h1{
    color: #fff;
    font-size: 4rem;
}

.text-project p{
    color: #ffff;
    font-size: 1.1rem;
}

.made-with{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20%;
}

.made-with p{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
}

.software{
    display: flex;
    width: 15%;
    gap: 20px;
}

.software svg{
    width: 100%;
    height: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
}

.btn a {
    position: relative;
    z-index: 2;
    border: 1px solid #ffff;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    width: 70%;
    padding: 1.2% 0;
    transition: 0.3s;
}

.btn a span {
    position: relative;
    z-index: 2;
}

.btn a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: all 0.3s;
    z-index: 1;
}

.btn a:hover {
    color: #000;
}

.btn a:hover:after {
    width: 100%;
}

.div-button {
    border: 1px solid #000;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10% 3% 10%;
    margin-top: 30%;
    background-color: #ffff;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 82px;
    height: 82px;
}

.logo-footer img {
    width: 100%;
    height: auto;
}

.medias-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}