@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
}

::-webkit-scrollbar{
    background-color: #1a1a1a;
    width: 0.5em;
}

::-webkit-scrollbar-thumb{
    border-radius: 0.2em;
    background: #f7f7f7;
}

::-webkit-scrollbar-thumb:hover{
    background: #d1d1d1;
}

.header{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    backdrop-filter: blur(0.5em);
    background-color: #885E4B; 
    z-index: 9;
    gap: 38em;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

.logo{
    width: 100%;
    max-width: 200px;
}

.logo-horizontal{
    width: 21em; 
    margin: 1em
}

.logo-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-3lines{
    width: 2.1em;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.header-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.5s;
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(-0%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.icon-menu{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    gap: var(--gap);    
    width: 35px;
    padding: 1%;
    --gap: 5px;
    --height-bar: 2.5px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
}
  
.bar{
    position: relative;
    height: var(--height-bar);
    width: 100%;
    border-radius: .5rem;
    background-color: #fff;
}
  
  
.bar--1{
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
    height: 3px;
}
  
  
.bar--2{
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
    height: 3px;
}
  
  
.bar--3{
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
    height: 3px;
}
 
.icon-menu{
    display: none;
}
  
.check-icon:checked + .icon-menu > .bar--1{
    transition: top 200ms, transform 200ms 100ms;
}
  
  
.check-icon:checked + .icon-menu > .bar--3{
    transition: bottom 200ms, transform 200ms 100ms;
}
  
  
.check-icon:checked + .icon-menu{
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
}  

.border{
    display: flex;
    justify-content: start;
    width: 50%;
    border-bottom: 0.2em solid #e0a9e9;
}

.container-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    margin-top: 7%;  
}

.container-main h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    margin: 0.3em;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 2rem;
}

.container-projects{
    display: flex;
    overflow-y: hidden;
    margin-bottom: 4em;
    width: 70em;
    gap: 1em;
}

.project{
    display: inline-block;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;
    border-radius: 0.2em;
    border: 0.4em solid #885E4B;
    height: 20em;
    width: 22em;
    transition: 0.5s;
}


.border-project{
    width: 50%;
    border-top: 1px solid #1a1a1a;
    color: #1a1a1a;
}

.text-title-project{
    display: flex;
    color: #1a1a1a;
    margin-top: 1.5em;
    font-size: 3rem;
}

.text-project{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
}

.text-project h3{
    font-family: 'Montserrat', sans-serif;
    width: 10em;
    font-weight: 500;
}

.container-image-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.image-project1{
    width: 30em;
    height: 19.3em;
    transition: 0.5s;
}

.image-project1:hover{
    filter: brightness(70%);
    scale: 1.1;
}

.image-project{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.image-project:hover{
    filter: brightness(70%);
    scale: 1.1;
}

.project:hover .text-project{
    opacity: 1;
}

.text-project h1{
    font-family: 'Futura', sans-serif;
    font-size: 4rem;
    color: #fff;
}

.container-fot{
    background: linear-gradient(to top, #885E4B, #885E4B , #f7f7f7);
}

.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
    gap: 4em;
}

.text-media{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1em;
}

.text-media h3{
    font-size: 2.1rem;
}

.text-media p{
    font-size: 1.1rem;
    margin-bottom: 2em;
}   

.container-btn{
    display: flex;
    margin-top: 5%;
    gap: 1em;
}

.btn-contact{
    width: 5em;
    transition: 0.5s;
}

.btn-contact:hover{
    filter: brightness(60%);
}

.btn-image{
    width: 100%;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.form label,
.form input,
.form textarea,
.form button {
    width: 99%;
}

.form label{
    color: #fff;
    line-height: 1;
}

.form input,
.form textarea{
    font: inherit;
    border: 0.1em solid transparent;
    border-radius: 2em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    padding: 0.8rem;
    transition: border-color 0.5s;
    transition: 0.5s;
    box-shadow: 0.2s;
}

.form textarea{
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    filter: brightness(90%);
    box-shadow: 0.1em 0.1em 0.1em 0.1em var(--color-3);
}

.form button{
    display: flex;
    justify-content: center;    
    background: transparent;   
    text-transform: uppercase;   
    cursor: pointer;
    color: #fff;
    border: 0.1em solid ;
    border-radius: 2em;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.form button:hover{
    border: 0.1em solid #343d6e;
    background: #343d6e;
}

.formu{
    font-size: 3rem;
    color: var(--cor-secundaria);
    margin-bottom: 2rem;
    line-height: 1.2;
    text-align: center;
    overflow-y: hidden;
}

.formu::before{
    display: block;
}

.btn-home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89%;
    left: 95%;
    width: 4em;
    height: 4em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8d5f2;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2em;
    transition: 0.5s;
}

.btn:hover{
    background-color: #d579ff;
    scale: 1.1;
    /* box-shadow: 0.1em 0.1em 0.1em 0.1em ; */
    box-shadow: inset 1em 0.5em #d579ff;
}

.img-seta{
    width: 2em;
}
.baseboard{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.5em;
    gap: 0.3em;
    background-color: #885E4B;
}

.baseboard-link{
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
}

.baseboard-link:hover{
    text-decoration: underline;
}

@media(max-width: 700px){

    .header{
        flex-direction: column;
        gap: 0;
    }

    .header-menu{
        display: none;
        flex-direction: column;
        gap: 1em;
    }
      
    .header-menu.active{
        display: flex;
    }
      
    .menu-button{
        display: flex;
        align-items: center;
        justify-content: end;
        background: none;
        border: none;
        transition: 0.5s;
    }

    .header-link{
        font-size: 1.5rem;
    }

    .logo{
        width: 80%;
    }

    .logo-horizontal{
        width: 15em;
    }

    .container-main h1{
        font-size: 3rem;
    }

    .container-main h2{
        margin-bottom: 15%;
        font-size: 1.7rem;
    }

    .container-projects{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }

    .project{
        width: 25%;
        height: 15em;
    }

    .container-contact{
        margin: 1em;
        flex-direction: column;
    }
    
    .container-form{
        margin: 0;
    }

    .form label,
    .form input,
    .form textarea,
    .form button {
    width: 100%;
    }

    .btn-home{
        width: 4em;
        height: 4em;
        left: 80%;
    }

    .img-seta{
        width: 1.3em;
    }

    .baseboard{
        font-size: 1rem;
        padding: 1.4em;
    }
}