/* responsivo do home */
@media (max-width: 1000px) {

    header {
        flex-direction: column;
        padding: 2%;
    }

    header.active {
        background-color: #00000038;
        box-shadow: 1px 1px 10px 1px #00000038;
        backdrop-filter: blur(5px);
    }

    .navbar-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 3% 2% 3%;
        width: 100%;
    }

    .navbar-mobile img {
        width: 60%;
    }

    .hamburger {
        display: flex;
        overflow: hidden;
    }

    .hamburger svg {
        width: 200px;
        height: 50px;
    }

    .header-menu {
        display: none;
        flex-direction: column;
        align-items: start;
        border-radius: 0;
    }

    .header-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-menu.active {
        display: flex;
        margin-top: 10%;
        gap: 10px;
    }

    #svg {
        display: none;
    }

    .main-banner {
        height: 36rem;
    }

    .banner-text {
        padding-right: 10%;
    }

    .banner-text h1 {
        width: 100%;
        font-size: 2.1rem;
    }

    .banner-text p {
        font-size: 1.5rem;
    }

    .banner-text a {
        width: 45%;
        padding: 2.5%;
        margin-top: 5%;
    }

    .frase {
        width: 95%;
        padding: 2% 1% 2% 1%;
        transform: translate(2.5%, -50%);
    }

    .services-page {
        padding-top: 25%;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 9%;
    }

    .item-services {
        width: 70%;
        height: 150px;
    }

    .btn a {
        width: 800px;
        padding: 5.2% 0;
    }

    .project-page {
        padding-top: 18%;
        padding-bottom: 15%;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 15%;
    }

    .item-project {
        width: 100%;
    }

    .icon-middle img{
        width: 50%;
    }

    .text-middle{
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 15%;
        padding-top: 15%;
    }

    .div-button{
        width: 50%;
    }

    .cards-container{
        flex-wrap: wrap;
        padding-bottom: 70%;
    }

    .frase-cards{
        width: 100%;
    }

    .frase-cards p{
        width: 80%;
        margin-bottom: 20%;
    }

    .div-middle{
        display: none;
    }

    .contact-page {
        flex-direction: column;
        align-items: start;
        gap: 60px;
    }

    .title-contact{
        width: 100%;
    }

    .form button{
        width: 50%;
        padding: 3%;
    }

    .form input,
    .form textarea{
        padding: 4%;
    }

    footer {
        flex-direction: column;
        margin-top: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        gap: 20px;
    }
}

@media (max-width: 735px) {

    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .project-container {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 15%;
    }
}

/* responsividade page about */ 
@media (max-width: 1000px) {

    .main-about{
        flex-direction: column;
        justify-content: center;
        padding: 0% 0% 10% 0%;
        background-color: #1e1e1e;
    }

    .text-about{
        position: relative;
        transform: translate(0);
        width: 100%;
    }

    .text-about p{
        padding: 8% 7% 5% 5%;
    }

    .border{
        display: none;
    }

    .image-about{
        width: 80em;    
    }

    .image-about img{
        width: 100%;
        height: auto;
    }

    #btn-about a{
        border: 1px solid #fff;
        color: #fff;
    }

    #btn-about a:after{
        background-color: #fff;
    }

    #btn-about a:hover{
        color: #000;
    }

    #frase-about{
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        transform: translate(0);
    }

    #frase-about p{
        width: 100%;
    }
}

/* responsividade service page */

@media (max-width: 1000px) {

    .main-section{
        margin-top: 35%;
    }

    .main-title h1{
        font-size: 2rem;
    }

    .item-services{
        flex-direction: column;
        padding: 5% 3% 5% 3%;
        text-align: center;
        height: auto;
    }

    .image{
        width: 100%;
    }

    .image svg{
        width: 20%;
    }

}

/* responsividade portfolio page */

@media (max-width: 1000px) {

    #header-portfolio.active {
        background-color: #ffffff10;
        box-shadow: 1px 1px 10px 1px #00000038;
        backdrop-filter: blur(5px);
    }

    .menu.active{
        color: #000;
    }

    .main-title{
        margin-top: 30%;
    }

    .main-projects{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 425px) {

    .main-projects{
        grid-template-columns: repeat(1, 1fr);
    }

}