/* responsivo do home */
@media (max-width: 1000px) {

    header {
        flex-direction: column;
        padding: 2%;
    }

    header.active {
        background-color: #00000038;
        box-shadow: 1px 1px 10px 1px #00000038;
        backdrop-filter: blur(5px);
    }

    .navbar-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 3% 2% 3%;
        width: 100%;
    }

    .navbar-mobile img {
        width: 60%;
    }

    .hamburger {
        display: flex;
        overflow: hidden;
    }

    .hamburger svg {
        width: 200px;
        height: 50px;
    }

    .header-menu {
        display: none;
        flex-direction: column;
        align-items: start;
        border-radius: 0;
    }

    .header-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-menu.active {
        display: flex;
        margin-top: 10%;
        gap: 10px;
    }

    #svg {
        display: none;
    }

    .main-banner {
        height: 36rem;
    }

    .banner-text {
        padding-right: 10%;
    }

    .banner-text h1 {
        width: 100%;
        font-size: 2.1rem;
    }

    .banner-text p {
        font-size: 1.5rem;
    }

    .banner-text a {
        width: 45%;
        padding: 2.5%;
        margin-top: 5%;
    }

    .frase {
        width: 95%;
        padding: 5% 2% 5% 2%;
        transform: translate(2.5%, -50%);
    }

    .frase p {
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 500;
    }

    .services-page {
        padding-top: 25%;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 9%;
    }

    .item-services {
        width: 100%;
        height: auto;
    }

    .btn a {
        width: 800px;
        padding: 5.2% 0;
    }

    .project-page {
        padding-top: 18%;
        padding-bottom: 15%;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 15%;
    }

    .item-project {
        width: 100%;
    }

    .icon-middle img {
        width: 50%;
    }

    .text-middle {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 15%;
        padding-top: 15%;
    }

    .text-middle h2 {
        font-size: 2rem;
    }

    .div-button {
        width: 50%;
    }

    .cards-container {
        flex-wrap: wrap;
        padding-bottom: 70%;
    }

    .frase-cards {
        width: 100%;
    }

    .frase-cards p {
        width: 80%;
        margin: 5% 5% 10% 5%;
        padding: 0;
    }

    .div-middle {
        display: none;
    }

    .contact-page {
        flex-direction: column;
        align-items: start;
        gap: 60px;
    }

    .title-contact {
        width: 100%;
    }

    .form button {
        width: 50%;
        padding: 3%;
    }

    .form input,
    .form textarea {
        padding: 4%;
    }

    footer {
        flex-direction: column;
        margin-top: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        gap: 20px;
    }
}

@media (max-width: 425px) {

    .frase-cards p {
        width: 80%;
        margin: 5% 5% 15% 5%;
        padding: 0;
    }

}

@media (max-width: 735px) {

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-container {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 15%;
    }
}

/* responsividade page about */
@media (max-width: 1000px) {

    .main-about {
        flex-direction: column;
        justify-content: center;
        padding: 0% 0% 10% 0%;
        background-color: #1e1e1e;
    }

    .text-about {
        position: relative;
        transform: translate(0);
        width: 100%;
    }

    .text-about p {
        padding: 8% 7% 5% 5%;
    }

    .border {
        display: none;
    }

    .image-about {
        width: 80em;
    }

    .image-about img {
        width: 100%;
        height: auto;
    }

    #btn-about a {
        border: 1px solid #fff;
        color: #fff;
    }

    #btn-about a:after {
        background-color: #fff;
    }

    #btn-about a:hover {
        color: #000;
    }

    #frase-about {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        transform: translate(0);
    }

    #frase-about p {
        width: 100%;
    }
}

/* responsividade service page */

@media (max-width: 1440px) {

    .services-container {
        margin: 5% 0 8% 0;
    }

}

@media (max-width: 1024px) {

    .main-services-title p {
        margin: 3% 0 5% 0;
    }

    .services-container {
        margin: 5% 0 15% 0;
    }

}

@media (max-width: 1000px) {

    .main-section {
        margin-top: 25%;
    }

    .main-services-title {
        padding: 0;
    }

    .main-services-title h1 {
        font-size: 2rem;
    }

    .services-container {
        margin: 5% 5% 5% 5%;
    }

    .item-services {
        flex-direction: column;
        padding: 5% 3% 5% 3%;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .image {
        width: 100%;
    }

    .image svg {
        width: 20%;
    }

}

@media (max-width: 768px) {

    .item-services {
        height: 100%;
    }

}

@media (max-width: 735px) {
    
    .div-brown{
        height: 100%;
    }

}

@media (max-width: 425px) {

    .main-services-title {
        padding: 5%;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 320px) {

    .main-services-title {
        padding: 10% 10% 5% 10%;
    }

    .main-services-title h1 {
        font-size: 1.8rem;
    }

    .main-services-title p {
        width: 65%;
    }

}

/* responsividade portfolio page */

@media (max-width: 1000px) {

    #header-portfolio.active {
        background-color: #ffffff10;
        box-shadow: 1px 1px 10px 1px #00000038;
        backdrop-filter: blur(5px);
    }

    .menu.active {
        color: #000;
    }

    .main {
        padding: 20% 5% 5% 5%;
    }

    .main-title {
        margin: 10% 5% 5% 5%;
        padding: 5% 0% 5% 0%;
    }

    .main-title h1{
        font-size: 5rem;
    }

    .main-title p{
        font-size: 1rem;
    }

    .main__action {
        margin-top: 10%;
    }

    .main-projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-filters{
        flex-direction: column;
    }

}

@media (max-width: 768px) {
    
    .main-title {
        margin: 10% 5% 10% 5%;
    }

}

@media (max-width: 730px) {
    
    .main-title {
        padding: 15% 5% 10% 5%;
    }

}

@media (max-width: 425px) {

    .main-title {
        padding: 20% 5% 20% 5%;
        margin: 25% 5% 25% 5%;
    }

    .main-title h1{
        font-size: 4rem;
    }

    .main-projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-filters{
        flex-direction: column;
        margin: 5% 5% 20% 5%;
    }

    .modal-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25%;
        width: 90%;
    }

    .image-modal{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .image-modal img{
        width: 100%;
        height: auto;
    }

    .title-paragraph{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 320px) {
    
    .main-title {
        padding: 25% 5% 25% 5%;
        margin: 40% 5% 40% 5%;
    }

    .main-title h1{
        font-size: 3rem;
    }

}