@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --color-1: #252B4F;
    --color-2: #9280B4;
    --color-3: #E5BFEB;
    --color-4: #FEE3F5;
    --color-5: #947EB6;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #fff, #fff , #faf0ff, #faf0ff
    , #e09bff);
}

::-webkit-scrollbar{
    background-color: #faf0ff;
    width: 0.5em;
}

::-webkit-scrollbar-thumb{
    border-radius: 0.2em;
    background: #da8aff;
}

::-webkit-scrollbar-thumb:hover{
    background: #d579ff;
}

#services, #projects, #contact, #title{
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    transform: translateY(50px);
}

#text{ 
    opacity: 0;
    transition: opacity 1s ease, transform 1.5s ease;
    transform: translateX(100px);
}

#text.ativa{
    transform: translateX(0);
    opacity: 1;
}

#services.ativa,
#projects.ativa,
#contact.ativa,
#title.ativa{
    transform: translateY(0);
    opacity: 1;
}

.header{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    backdrop-filter: blur(0.5em);
    background-color: #3f4a85a9; 
    z-index: 9;
    gap: 38em;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

.logo{
    width: 100%;
    max-width: 200px;
}

.logo-horizontal{
    width: 21em; 
    margin-top: 3%;
}

.logo-content{
    background-image: url(../assets/ICON\ ROCO\ LETRA\ ROXO\ ESCURO.png);
}

/* .logo-responsive{
    background-image: url(../assets/ICON\ ROCO\ LETRA\ ROXO\ ESCURO.png);
} */

.logo-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-3lines{
    width: 2.1em;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.header-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.5s;
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(-0%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.icon-menu{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    gap: var(--gap);    
    width: 35px;
    padding: 1%;
    --gap: 5px;
    --height-bar: 2.5px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
}
  
.bar{
    position: relative;
    height: var(--height-bar);
    width: 100%;
    border-radius: .5rem;
    background-color: #fff;
}
  
  
.bar--1{
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
    height: 3px;
}
  
  
.bar--2{
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
    height: 3px;
}
  
  
.bar--3{
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
    height: 3px;
}
 
.icon-menu{
    display: none;
}
  
.check-icon:checked + .icon-menu > .bar--1{
    transition: top 200ms, transform 200ms 100ms;
}
  
  
.check-icon:checked + .icon-menu > .bar--3{
    transition: bottom 200ms, transform 200ms 100ms;
}
  
  
.check-icon:checked + .icon-menu{
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
}  

.container-main{
    display: flex;
    justify-content: center;
}

.atelie-logo{
    width: 100em;
    height: 70em;
}

.container-top{
    margin-top: 4%;
    margin-bottom: 8%;
}

.border{
    display: flex;
    justify-content: start;
    width: 50%;
    border-bottom: 0.2em solid #e0a9e9;
}

.container-about{
    display: flex;      
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-left: 3%;
    margin-right: 3%;
    gap: 5em;
}

.text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.text-about h2{
    font-family: 'Futura', sans-serif;
    margin-top: 5%;
    height: 4em;
    font-size: 3.5rem;
    font-weight: 600;
    color: #343d6e;
}

.text-about p{
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 11%;
    color: #343d6e;
}

.strong-about{
    position: relative;
    white-space: nowrap;
    &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
    color: #fff;
  }
}

.foto-portfolio{
    display: flex;
    border: 0.5em solid #fff;
    border-radius: 20em;
    margin-right: 2em;
    width: 80em;
}

.foto{
    width: 100%;
    border-radius: 20em;
} 

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 0; 
}
   
button.learn-more {
    width: 12rem;
    height: 3.1em;
}
   
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #343d6e;
    border-radius: 1.625rem;
}
   
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
button.learn-more .circle .icon.arrow {
    overflow-x: visible;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
   
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #343d6e;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
   
button:hover .circle {
    width: 100%;
}
   
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
button:hover .button-text {
    color: #fff;
}

.division{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20em;
    background-color: #d068ff;
}

.division h1{
    color: #fff;
    padding: 0.1em;
    font-size: 3.5rem;
}

.img-div{
    width: 20%;
    filter: brightness(30%);
}

.container-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 0%;
}

.container-mid h1{
    border-bottom: 0.2rem solid #e0a9e9;
    color: #e383f1;
    font-size: 3rem;
    width: 50%;
    margin-bottom: 3%;
}

.border-mid{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 40em;
    border-bottom: 0.2em solid #e0a9e9;
}

.container-services{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    overflow-y: hidden;
    width: 100%;
    height: 30em;
    gap: 15em;
}

.logo-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: hidden;
    text-decoration: none;
    position: relative;
    gap: 1.2em;
    width: 17em;
    height: 25em;
    padding: 1em 1em 1em 1em;
    border-radius: 1.4em;
    border: 2px solid #e0a9e9;
    transition: 0.8s;
}

.logo-services:hover{
    background-color: #e0a9e9;
    border: 1px solid #fff;
    color: #fff;
    transform: scale(1.05);
}

.logo-services span{
    font-weight: 600;
}

.description{
    overflow: hidden;
    text-align: center;
    font-family: 'Futura', sans-serif; 
    font-weight: 600;
    font-size: 1.01rem;
    padding-right: 1em;
    padding-left: 1em;
    width: 15em;
    transition: 0.5s;
    color: #3f4a85;
}

.image-services{
    width: 5em;
    transition: 0.5s;
    filter: brightness(0%);
}

.logo-services:hover .image-services,
.logo-services:hover .description{
    filter: brightness(100%);
    color: #fff;
}

.logo-services span{
    transition: 0.5s;
    font-size: 1.5rem;
    color: #3f4a85;
}

.logo-services:hover span{
    color: #fff;
}

.container-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    background-image: url(../assets/background-project.svg);
}

.container-projects{
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(3, auto);
    margin-top: 8%;
    margin-bottom: 3%;
    width: 70em;
    gap: 2em;
}

.project{
    display: inline-block;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;
    border-radius: 0.2em;
    border: 0.4em solid #fff;
    height: 20em;
    width: 22em;
    transition: 0.5s;
}

/* .project:hover{
    scale: 1.1;
} */

.border-project{
    width: 10em;
    border-top: 0.1em solid #e0a9e9;
    color: #f0ceff;
}

.text-title-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #fff;
    margin-top: 4em;
    font-size: 3rem;
}

.text-project{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
}

.text-project h3{
    font-family: 'Montserrat', sans-serif;
    width: 10em;
    font-weight: 500;
}

.container-image-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.image-project1{
    width: 30em;
    height: 19.3em;
    transition: 0.5s;
}

.image-project1:hover{
    filter: brightness(70%);
    scale: 1.1;
}

.image-project{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.image-project:hover{
    filter: brightness(70%);
    scale: 1.1;
}

.project:hover .text-project{
    opacity: 1;
}

.text-project h3{
    font-family: 'Futura', sans-serif;
    font-size: 1.2rem;
    color: #fff;
}

.button-project{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none; 
    border-radius: 1em;
    margin: 1em;
    width: 8em;
    height: 3em;  
    transition: 0.5s;
    background-color: #d068ff;
}

.button-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: #fff;
    width: 8em;
    height: 3em;  
}

.button-project:hover{
    scale: 1.04;                  
}

.button-project:hover::before{
    transform: scaleX(1);
}

.button-project::before{
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    background: linear-gradient(to left, #c546ff, #b513ff, #9900df);
    transition: all 0.5s;
}

.container-fot{
    background: linear-gradient(to top, #e0a9e9, #6470b5 ,#3f4a85, #343d6e);
}

.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
    gap: 4em;
}

.text-media{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1em;
}

.text-media h3{
    font-size: 2.1rem;
}

.text-media p{
    font-size: 1.1rem;
    margin-bottom: 2em;
}   

.container-btn{
    display: flex;
    margin-top: 5%;
    gap: 1em;
}

.btn-contact{
    width: 5em;
    transition: 0.5s;
}

.btn-contact:hover{
    filter: brightness(60%);
}

.btn-image{
    width: 100%;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.form label,
.form input,
.form textarea,
.form button {
    width: 99%;
}

.form label{
    color: #fff;
    line-height: 1;
}

.form input,
.form textarea{
    font: inherit;
    border: 0.1em solid transparent;
    border-radius: 2em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    padding: 0.8rem;
    transition: border-color 0.5s;
    transition: 0.5s;
    box-shadow: 0.2s;
}

.form textarea{
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    filter: brightness(90%);
    box-shadow: 0.1em 0.1em 0.1em 0.1em var(--color-3);
}

.form button{
    display: flex;
    justify-content: center;    
    background: transparent;   
    text-transform: uppercase;   
    cursor: pointer;
    color: #fff;
    border: 0.1em solid ;
    border-radius: 2em;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.form button:hover{
    border: 0.1em solid #343d6e;
    background: #343d6e;
}

.formu{
    font-size: 3rem;
    color: var(--cor-secundaria);
    margin-bottom: 2rem;
    line-height: 1.2;
    text-align: center;
    overflow-y: hidden;
}

.formu::before{
    display: block;
}

.btn-home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89%;
    left: 95%;
    width: 4em;
    height: 4em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8d5f2;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2em;
    transition: 0.5s;
}

.btn:hover{
    background-color: #d579ff;
    scale: 1.1;
    /* box-shadow: 0.1em 0.1em 0.1em 0.1em ; */
    box-shadow: inset 1em 0.5em #d579ff;
}

.img-seta{
    width: 2em;
}

.baseboard{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.5em;
    gap: 0.3em;
    background-color: #e0a9e9   ;
}

.baseboard-link{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: 0.5s;
}

.baseboard-link:hover{
    text-decoration: underline;
}

@media(max-width: 700px){

    .header{
        flex-direction: column;
        gap: 0;
    }

    .header-menu{
        display: none;
        flex-direction: column;
        gap: 1em;
    }
      
    .header-menu.active{
        display: flex;
        margin-top: 2em;
    }
      
    .menu-button{
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .header-link{
        font-size: 1.5rem;
    }

    .logo{
        width: 80%;
    }

    .logo-content{
        background-image: url(../assets/ICON\ ROCO\ LETRA\ ROXO\ ESCURO.png);
    }

    .logo-horizontal{
        width: 15em;
    }

    .container-top{
        margin-top: 9em;
    }

    .container-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 5% 7%;
    }

    .foto-portfolio{
        margin: 0;
        width: 100%;
    }

    .text-about{
        margin: 0;
    }

    .text-about h2{
        font-size: 1.6rem;
        margin: 0;
    }

    .text-about p{
        font-size: 1.1rem;
        margin: 0;
    }

    .division h1{
        font-size: 2.4rem;
    }
    
    .container-mid h1{
        width: 100%;
        margin-bottom: 20%;
        font-size: 2.5rem;
    }

    .container-services{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 5em;
    }

    .text-title-project{
        margin-top: 6.5em;
        font-size: 1.8rem;
    }

    .container-projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project{
        width: 25%;
    }

    .container-fot{
        overflow-y: hidden;
    }

    .container-contact{
        flex-direction: column;
        margin: 1em;
    }
    
    .container-form{
        margin: 0;
    }

    .form label,
    .form input,
    .form textarea,
    .form button {
        width: 100%;
    }

    .btn-home{
        width: 4em;
        height: 4em;
        left: 80%;
    }

    .img-seta{
        width: 1.3em;
    }

    .baseboard{
        font-size: 1rem;
        padding: 1.4em;
    }
}
