@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --color-1: #252B4F;
    --color-2: #9280B4;
    --color-3: #E5BFEB;
    --color-4: #FEE3F5;
    --color-5: #947EB6;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #fff, #fff , #faf0ff, #faf0ff
    , #e09bff);
}

::-webkit-scrollbar{
    background-color: #faf0ff;
    width: 0.5em;
}

::-webkit-scrollbar-thumb{
    border-radius: 0.2em;
    background: #da8aff;
}

::-webkit-scrollbar-thumb:hover{
    background: #d579ff;
}


.hidden{
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
    transform: translateY(20px);
}
  
.hidden.visible{
    opacity: 1;
    transform: translateY(0);
}

.header{
    display: flex;
    justify-content: space-evenly;
    gap: 38em;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

.logo{
    width: 100%;
    max-width: 200px;
}

.logo-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-3lines{
    width: 2.1em;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.header-link{
    text-decoration: none;
    color: #343d6e;
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.5s;
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #343d6e;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(-0%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.menu-button{
    display: none;
    height: 2.5em;
    font-size: 1.5rem;
}

.container-main{
    display: flex;
    justify-content: center;
}

/* .banner{
    
} */

.atelie-logo{
    width: 100em;
    height: 70em;
}

.container-top{
    margin-top: 4em;
    margin-bottom: 7em;
}

.border{
    display: flex;
    justify-content: start;
    width: 50%;
    border-bottom: 0.2em solid #e0a9e9;
}

.container-about{
    display: flex;      
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
    gap: 5em;
}

.text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.text-about h2{
    font-family: 'Futura', sans-serif;
    margin-top: 5%;
    font-size: 3.5rem;
    font-weight: 600;
    color: #343d6e;
}

.text-about p{
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 11%;
    color: #343d6e;
}

.strong-about{
    color: #ffffffec;
}

.foto-portfolio{
    display: flex;
    border: 0.5em solid #fff;
    border-radius: 20em;
    margin-right: 2em;
    width: 80em;
}

.foto{
    width: 100%;
    border-radius: 20em;
} 

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 0; 
}
   
button.learn-more {
    width: 12rem;
    height: 3.1em;
}
   
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #343d6e;
    border-radius: 1.625rem;
}
   
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
   
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #343d6e;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
   
button:hover .circle {
    width: 100%;
}
   
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
button:hover .button-text {
    color: #fff;
}

.container-mid{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.border-mid{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 40em;
    border-bottom: 0.2em solid #e0a9e9;
}

.container-services{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    overflow-y: hidden;
    width: 100%;
    height: 16em;
    gap: 15em;
}

.logo-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: hidden;
    gap: 1em;
    width: 13em;
    height: 13em;
    padding: 1em 1em 1em 1em;
    border-radius: 30em;
    border: 0.2em solid #e0a9e9;
    transition: 0.5s;
}

.logo-services:hover{
    background-color: #e0a9e9;
    color: #fff;
    scale: 1.1;
}

.image-services{
    width: 5em;
    transition: 0.5s;
    filter: brightness(0%);
}

.logo-services:hover .image-services{
    filter: brightness(100%);
}

.logo-services span{
    transition: 0.5s;
    font-size: 1.5rem;
    color: #343d6e;
}

.logo-services:hover span{
    color: #fff;
}

.container-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    background-image: url(/assets/background-project.svg);
}

.container-projects{
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(3, auto);
    margin-top: 8%;
    margin-bottom: 5%;
    width: 70em;
    gap: 2em;
}

.project{
    display: inline-block;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;
    border-radius: 0.2em;
    border: 0.4em solid #fff;
    height: 20em;
    width: 22em;
    transition: 0.5s;
}

/* .project:hover{
    scale: 1.1;
} */

.border-project{
    width: 50%;
    border-top: 1px solid #e0a9e9;
    color: #f0ceff;
}

.text-title-project{
    display: flex;
    color: #fff;
    margin-top: 4em;
    font-size: 3rem;
}

.text-project{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
}

.text-project h3{
    font-family: 'Montserrat', sans-serif;
    width: 10em;
    font-weight: 500;
}

.container-image-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.image-project1{
    width: 30em;
    height: 19.3em;
    transition: 0.5s;
}

.image-project1:hover{
    filter: brightness(70%);
    scale: 1.1;
}

.image-project{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.image-project:hover{
    filter: brightness(70%);
    scale: 1.1;
}

.project:hover .text-project{
    opacity: 1;
}

.text-project h1{
    font-family: 'Futura', sans-serif;
    font-size: 4rem;
    color: #fff;
}

.button-project{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin: 1em;
    width: 8em;
    height: 3em;  
    transition: 0.5s;
    background-color: #d068ff;
}

.button-content{
    position: relative;
    text-decoration: none;
    color: #fff;
    z-index: 1;
}

.button-project:hover{
    scale: 1.1;                  
}

.button-project:hover::before{
    transform: scaleX(1);
}

.button-project::before{
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    background: linear-gradient(to left, #c546ff, #b513ff, #9900df);
    transition: all 0.5s;
}

.container-fot{
    background: linear-gradient(to top, #e0a9e9, #6470b5 ,#3f4a85, #343d6e);
}

.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
    gap: 4em;
}

.text-media{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1em;
}

.text-media h3{
    font-size: 2.1rem;
}

.text-media p{
    font-size: 1.1rem;
    margin-bottom: 2em;
}   

.container-btn{
    display: flex;
    margin-top: 5%;
    gap: 1em;
}

.btn-contact{
    width: 5em;
    transition: 0.5s;
}

.btn-contact:hover{
    filter: brightness(60%);
}

.btn-image{
    width: 100%;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.form label,
.form input,
.form textarea,
.form button {
    width: 99%;
}

.form label{
    color: #fff;
    line-height: 1;
}

.form input,
.form textarea{
    font: inherit;
    border: 0.1em solid transparent;
    border-radius: 2em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    padding: 0.8rem;
    transition: border-color 0.5s;
    transition: 0.5s;
    box-shadow: 0.2s;
}

.form textarea{
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    filter: brightness(90%);
    box-shadow: 0.1em 0.1em 0.1em 0.1em var(--color-3);
}

.form button{
    display: flex;
    justify-content: center;    
    background: transparent;   
    text-transform: uppercase;   
    cursor: pointer;
    color: #fff;
    border: 0.1em solid ;
    border-radius: 2em;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.form button:hover{
    border: 0.1em solid #343d6e;
    background: #343d6e;
}

.formu{
    font-size: 3rem;
    color: var(--cor-secundaria);
    margin-bottom: 2rem;
    line-height: 1.2;
    text-align: center;
    overflow-y: hidden;
}

.formu::before{
    display: block;
}

.btn-home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89%;
    left: 95.2%;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2em;
    transition: 0.5s;
    background-color: #fff;
}

.btn-home:hover{
    background-color: #d579ff;
    scale: 1.1;
    /* box-shadow: 0.1em 0.1em 0.1em 0.1em ; */
    box-shadow: inset 1em 0.5em #d579ff;
}

.img-seta{
    width: 2em;
}

.baseboard{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.5em;
    gap: 0.3em;
    background-color: #e0a9e9   ;
}

.baseboard-link{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

@media(max-width: 700px){

    .header{
        flex-direction: column;
        gap: 0;
    }

    .header-menu{
        display: none;
        flex-direction: column;
        gap: 1em;
    }
      
    .header-menu.active{
        display: flex;
    }
      
    .menu-button{
        display: flex;
        align-items: center;
        justify-content: end;
        transition: 0.5s;
    }

    .header-link{
        font-size: 1.5rem;
    }

    .logo{
        width: auto;
    }

    .container-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        margin: 5% 7%;
    }

    .foto-portfolio{
        margin: 0;
        width: 90%;
    }

    .text-about{
        margin: 0;
    }

    .text-about h2{
        font-size: 3rem;
        margin: 0;
    }

    .text-about p{
        font-size: 1.3rem;
        margin: 0;
    }

    .container-services{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 5em;
    }

    .text-title-project{
        margin-top: 6.5em;
        font-size: 1.8rem;
    }

    .container-projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project{
        width: 25%;
        height: 15em;
    }

    .container-contact{
        margin: 1em;
        flex-direction: column;
    }
    
    .container-form{
        margin: 0;
    }

    .form label,
    .form input,
    .form textarea,
    .form button {
    width: 100%;
    }

    .btn-home{
        width: 3em;
        height: 3em;
        left: 80%;
    }

    .img-seta{
        width: 1.3em;
    }

    .baseboard{
        font-size: 1rem;
        padding: 1.4em;
    }
}